body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    background-color: #E9F1FA;    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00ABE4;
    color: white;
    font-weight: 800;
    font-size: 20px;
    }

nav img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 20px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
   }
.menu li{
    list-style: none;
    text-decoration: none;
    padding: 15px;
    margin-right: 20px;    
}.menu :hover{
    color: red;
}

.home{
    background-image: url(/assets/back5\ UP.jpg);
    padding-top: 50px;
}
.home h1{
    font-size: 70px;
    text-align: center;
    color: #0e0f0f;        
}
.home p{
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding-top: 100px;
    color: #070808;            
}

.about-us{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;     
}

h2{
    text-align: center;
    font-size: 30px;
    color: #0FFCBE;
    background-color: #00ABE4;
    border-radius: 50px;    
}

h3{
   font-size: 20px; 
   text-align: center;
   font-size: 30px;
}
.about-us p{
    text-align: justify;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 20px;      
}
.about-us img{
    width: 1000px;
    height: 350px;
    margin-left: 10px;
}
.services{
    display: flex;
    padding: 10px;
    justify-content: space-between;    
}
.services img{
    align-items: center;
    align-content: center;    
}

.learning-typing{
    text-align: center;
    size: 20px;
}

.learning-typing p{
    text-align: justify;
    padding-right: 30px;
    font-size: 18px;
    margin-left: 20px;
}
.learning-typing img{
    border-radius: 50px;
    align-items: baseline;
}

.computer-training{
    text-align: justify;
    padding-right: 30px;    
}
.computer-training img{
  border-radius: 50px;
}
.computer-training p{
    text-align: justify;
    padding-right: 10px;
    font-size: 18px;
}
.cyber-security{
    text-align: justify;
    padding-right: 30px;
}
.cyber-security img{
    border-radius: 50px;
}
.cyber-security p{
    text-align: justify;
    padding-right: 10px;
    font-size: 18px;
}
.web-development{
    text-align: justify;
    padding-right: 30px;
}
.web-development img{
    border-radius: 50px;
}
.web-development p{
    text-align: justify;
    padding-right: 10px;
    font-size: 18px;
}
.about{
    display: flex;
    padding: 10px;
    justify-content: space-between;
   align-items: center;      
}

.about p{
    text-align: justify;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 18px;
}
.about img{
    width: 2000px;
    height: 200px;
    margin-left: 10px;
}
.info ul{
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
    size: 20px;    
}

.info img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
footer {
    margin-top: 60px;
}
footer p{
    text-align: center;
    font-size: larger;
}
.btn{
    display: none;
}

@media(max-width: 900px) {
    .btn{
        display: flex;    
        cursor: pointer;
        margin-right: 20px; 
        color: black;   
    }
    .menu {
        flex-direction: column;
        position: absolute;
        top: 30px;
        left: -200%;
        width: 30%;
        height: 60vh;
        transition: 0.5s;
        background-color: #8dbaee;
        color: #fff;
        float: left;
        text-align: center;
    }
    .menu li {
        display: inline;
        text-align: center;
        line-height: 5px;
        float: left;
        margin-top: 50px;
    }
    .menu.active{
        left: 0;    
    }
    .about-us{
        flex-wrap: wrap;
    }
    .learning-typing{
        flex-wrap:wrap ;
    }
    .computer-training{
        flex-wrap: wrap;
    }
    .cyber-security{
        flex-wrap: wrap;
    }
    .web-development{
        flex-wrap: wrap;
    }
    .services{
        flex-wrap: wrap;
    }
    .about{
        flex-wrap: wrap;
    }
    .info{
        flex-wrap: wrap;
    }
    .home{
        flex-wrap: wrap;
    }
    
}


